<?php

# Settings
$settings = array (
	'username' => 'the_username',
	'password' => 'the_password',
);

# Load and instantiate the SPRI shop application
require_once ('vendor/autoload.php');
new sprishop ($settings);

?>
